*{
    margin: 0;
    padding: 0;
}

h1{
    font-family: 'Playfair Display', serif;
    font-size: 30px;
}

h3{
    font-family: 'Playfair Display', serif;
    font-size: 25px;
}

p{
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    padding: 10px;
    width: 350px;
    height: 170px;
    text-align: justify;
    backdrop-filter: blur(10px);

}

.main-container {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

.img-1 {
    position: relative;
    margin-top: 50px;
    z-index: 2;
}
.border {
    position: absolute;
    z-index: 1;
    border: 1px solid black;
    padding: 10px;
    width: 250px;
    height: 300px;
    margin-top: 30px;
    text-align: justify;
}

.main-container h1 {
    margin-top: 80px;
    margin-left: 10px;
}

.gold{
    color: rgb(153, 112, 63);
}

.information-box{
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-img{
    z-index: 2;
}

.information{
    display: grid;
    grid-template-columns: auto auto;
    border: 1px solid black;
    padding: 10px;
    width: 330px;
    height: 350px;
    margin-top: 50px;
    text-align: justify;
    z-index: 1;
}

.grid-item {
    padding: 20px;
    font-size: 30px;
    text-align: center;
}


.course-title{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

.course-title h1{
    margin-top: 100px;
    margin-left: 10px;
}

.course-info {
    border: 2px solid rgb(153, 112, 63);
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: rgb(153, 112, 63);
}

.course-info p{
    color: white;
}

.price{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

span{
    color: red;
    text-decoration:line-through;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.button {
    border: none;
    color: white;
    padding: 16px 32px;
    width: 300px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 50px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white; 
    color: black; 
    border: 2px solid #000000;
    transition: transform 0.3s ease;
}

.button:hover{
    transform: translateY(-10px);
    background-color: rgb(0, 0, 0);
    color: #fff;
}

footer{
    width: 100%;
    height: 200px;
    margin-top: 100px;
}

footer h1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

.earrings{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.contact{
    margin-top: 50px;
    display: flex;
    justify-content:space-evenly;
}

.contact a{
    color: #000000;
    font-size: 20px;
    margin-bottom: 50px;
}

* {box-sizing: border-box
}
body {
    margin:0
}
.mySlides {
    display: none
}
img {
    vertical-align: middle;
}

.slideshow-container {
    position: relative;
    margin: auto;
  }

.slideshow-container h1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px;
}  
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  

  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }
